/*Variables globlales*/
:root{
  --white: #ffffff;
  --black: #000000;
  --grey: #cccccc;
  --dark-grey: #929292;

  --primary-color-green: #0E9749;
  --primary-sky-green: #2ace71;
  --primary-color-dark-green: #051B0F;
  --primary-shadow-green: #02200F66;

  --secondary-color-cream: #F5F0D9;
  --shadow: #00000054;
}

body{
  background-color: var(--secondary-color-cream);
}

header{
  background-image: linear-gradient(#0E974950, #0E974950), url("../img/15.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding-bottom: 10px;
}

header .logo{
  height: 120px;
}

header h1{
  color: var(--white);
  text-align: center;
  margin: 20px;
}

nav a{
  padding: 15px;
  text-decoration: none;
  color: var(--secondary-color-cream);
}

nav a:hover{
  color: var(--white);
}

section, .gallery-collage, .about-content, .home-content{
  padding: 30px 0 20px;
}

.about img, .home img{
  height: 150px;
  padding: 2px;
}

/* GALLERY */
.gallery-collage {
  text-align: center;
  columns: 5 100px;
  column-gap: 20px;
  width: 100%;
  margin: 0 auto;
}

.gallery-collage img {
  width: 100%;
  border-radius: 5px;
  transition: all .25s ease-in-out;
  border: 2px solid var(--white);
  box-shadow: 5px 5px 5px var(--shadow);
  margin: 5px 0;
}
/* GALLERY */

/* FOOTER */
footer{
  padding-top: 30px;
  background-color: var(--primary-color-green);
  color: var(--primary-color-dark-green);
}

footer .logo{
  height: 150px;
}

.footer-bottom{
  background-color: var(--primary-shadow-green);
  padding: 7px;
  text-align: center;
}
/* FOOTER */

.member-cards{
  flex-wrap: wrap;
  justify-content: center;
}

.member-cards{
  display: flex;
  flex-direction: row;
  align-items: center;
  transition: 0.5s;
  justify-content: space-evenly;
}

.member-info{
  width: 300px;
  padding: 10px;
}

.member-contact{
  display: none;
}

.member-contact p{
  margin: 5px;
  color: var(--primary-color-dark-green);
  line-height: 20px;
}

.member-info:hover{
  transition: 0.5s;
  background-color: #ececec;
  border: 1px solid var(--grey);
  cursor: context-menu;
}

.member-cards:hover .member-contact{
  display: block;
  padding: 15px;
}

.member-cards:hover h4, .member-cards:hover h5, .member-cards:hover hr{
  display: none;
}